# dependencies
/node_modules

# build
/dist
/dist-server

# env
.env
.env.local
!.env.example

# Google service account keys
secrets/
google-service-account.json
*-service-account.json

# misc
.DS_Store
*.log

# IDE
.idea
.vscode
